.products {
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.intro,
section {
  padding: 40px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;

}
/* ================================================================================================== */



/* ======================================== NÚT SẮP XẾP VÀ DANH MỤC ===================================================== */

.products .d-flex {
  gap: 5px;
  justify-content: center;

  border-color: #b29c6e;
}

.result-count {
  justify-content: center;
}

.search-result-filters {

  border-color: #b29c6e;
  bottom: 0;
  cursor: pointer;
  font-size: unset;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.sorting-actions {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 9.8rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* =================================================== nút sắp xếp sản phẩm ==================================== */
.sort-order-replace {

  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  background: transparent;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 1.5;
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  vertical-align: middle;
  width: 20rem;
  color: #666;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Thêm hiệu ứng chuyển màu */
}

/* Hiệu ứng hover */
.search-result-filters>button:hover,
.filter-results:hover {
  background: #000000;
  color: #fff;
  transition: background 0.3s ease, color 0.3s ease;
}

.search-result-filters>button:hover select {

  color: #666;
}

.search-result-filters>.search-result {
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom: 2px solid #b29c6e;
  border-bottom-left-radius: 5rem;
  border-left: 2px solid #b29c6e;
  border-top: 2px solid #b29c6e;
  border-right: 2px solid #b29c6e;
  border-top-left-radius: 5rem;
  height: 40px;

  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  background: transparent;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 1.5;
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  vertical-align: middle;
  width: 20rem;
  color: #666;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-result-filters .custom-select {
  bottom: 0;
  cursor: pointer;
  font-size: unset;
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 0.2rem);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
  vertical-align: middle;
  border: 1px solid var(--black);
  border-radius: 0.1875rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff no-repeat right 0.75rem center / 0.8rem 1rem;

}

.custom-control-label:before,
.custom-file-label,
.custom-select {
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* ========================================== nút danh mục ========================================== */
.search-result-filters {
  position: relative;
}

.filter-results {
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border: 2px solid;
  border-top-right-radius: 5rem;
  border-color: #b29c6e;
}

.filter-results {
  background: transparent;
  /* border: none; */
  border-radius: none;
  color: var(--black);
  display: inline-block;
  font-size: 1rem;
  height: 40px;
  line-height: 1.5;
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  text-align-last: center;
  vertical-align: middle;
  width: 20rem;
  text-transform: uppercase;
  letter-spacing: unset;
  font-size: 14px;

  color: #666;
  font-weight: 500;
}

/* =========================================== bản menu con ===================================== */
.product-filter .offcanvas-header {
  padding: 10px 30px;
  background-color: #efecea;
  flex-direction: column;
}

#sidebar-filter {
  width: 500px;
  overflow: hidden;
  height: 100%;
}

.filter-col,
.applied-col {
  border-bottom: 1px solid var(--primary-color);
}

.filter-body {
  padding: 10px 30px 60px;
  height: 100%;
  background-color: white;
  margin-bottom: 0;
}

.applied-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}



.filter-title {
  padding: 15px 0;
  font-weight: 500;
  display: flex;
  color: #b29c6e;
  align-items: center;
  justify-content: space-between;
}

.applied-title .strong {
  font-weight: 500;
  color: #b29c6e;
}

.uppercase {
  text-transform: uppercase;
}

.filter-options {
  max-height: 0;
  /* Chiều cao ban đầu khi đóng */
  overflow: hidden;
  /* Ẩn nội dung khi max-height là 0 */
  transition: max-height 0.3s ease-out;
  /* Hiệu ứng mềm mại */

}
.filter-col>hr{
  border: 1px solid black;
  margin: -5px 0;
}

.filter-options.open {
  max-height: 500px;
  /* Chiều cao lớn hơn đủ để hiển thị nội dung */
}

.filter-options ul {
  list-style: none;
  padding-left: 0;
}

.ul-2columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.filter-options ul li {
  margin-bottom: 10px;
}

.filter-options ul li>div {
  width: 90%;
  white-space: normal;
  padding-left: 19px;
  line-height: 1.5em;
}

.filter-options ul li>div {
  font-size: 16px;
  width: 100%;
}

.filter-options ul li:before {
  content: '';
  width: 12px;
  height: 12px;
  margin-top: 4px;
  border: 1px solid var(--bg-darkgray);
  display: block;
  float: left;
  margin-right: 8px;
}




.reset-bar {
  background: #efecea;
  bottom: 0;
  padding: 2rem 30px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  margin-bottom: 0;
}

.reset-bar .secondary-bar {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.reset-bar>.secondary-bar>button:hover {
  background: #393939;
  color: #fff;
}

.reset-bar>.secondary-bar>.secondary-bar {
  display: flex !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.offcanvas-footer .secondary-bar .btn {
  height: unset;
}

.reset-bar>.secondary-bar>button.dot,
.btn.btn-secondary {
  cursor: pointer;
  position: relative;
  border-radius: 5rem;
}

.btn.btn-secondary {
  background: transparent;
  border: 2px solid #000000;
  color: #000000;
  margin: 0;
  width: 50%;
  text-transform: uppercase;
  color: #666;
  font-weight: 500;
}

.reset-bar>.secondary-bar>button.dot,
button.dot img {
  transition: all .3s ease;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.filter-title:after {
  content: "\003e"; /* Mã Unicode cho dấu lớn (>) */
  font-size: 30px;  /* Điều chỉnh kích thước */
  margin-left: 5px; /* Khoảng cách giữa nội dung và dấu */
  transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi */
}

.filter-title.active:after {
  transform: rotate(90deg); /* Quay dấu 1/4 vòng (90 độ) */ /* Quay dấu khi mở */
}




/* ================================================ đổi giao diện check box ================================== */
/* Ẩn checkbox gốc */
.custom-checkbox {
  display: none;
}


/* =========================================================== sản phẩm ============================ */
.products  .swiper-wrappe {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}


.products  .product-list {

  gap: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4-column layout */
}

.products  .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
  /* width: 312px; */
  margin-right: 4px;
}

.products  .product-box {
  position: relative;
  height: 100% !important;
  background-color: #bcbab636;
  border-radius: 6px;
}

.products  .plain {
  mix-blend-mode: multiply;
  transition: transform .2s;
  color: currentColor;
  -webkit-transition: color .3s, opacity .3s, -webkit-transform .3s;
  transition: color .3s, opacity .3s, -webkit-transform .3s;
  -o-transition: color .3s, opacity .3s, transform .3s;
  transition: color .3s, opacity .3s, transform .3s;
  transition: color .3s, opacity .3s, transform .3s, -webkit-transform .3s;
  color: currentColor;
}

.products  .product-item {
  padding: 30px 20px 20px;
}



.products  .product-item img {
  width: 272px;
  height: auto;
  display: block;
  object-fit: cover;
  height: 332px;
  padding: 30px 20px 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}


.products  .product-box .product-info {
  padding: 20px;
}

.products  .plain:hover img {
  transform: scale(1.05);
  /* Slight zoom effect */
  /* pointer-events: none; */
  /* Vô hiệu hóa hover của thẻ con khi thẻ cha được hover */
}

.products .product-info .product-title,
.product-info .product-sku {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 23px;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: 'SVN-Humanst 521 BT', Arial, sans-serif;
}



.products  .product-list .bg-gray {
  width: 100%;
  height: 100%;
}


.product-list {
  padding: 20px;
}

.product-list .product-price, .product-discount-price {
  font-size: 1.1rem;
  color: #666;
  margin: 0.5rem 0;
  font-weight: 700;
}

.line-through {
  text-decoration: line-through;
  color: gray;
}

.product-discount-price {
  font-weight: bold;
  color: #a60101;
}


/* ====================================================== button thả tim ====================== */


.like-icon {
  position: absolute;

  right: 10px;
  font-size: 24px;
  color: #ccc;

  z-index: 10;
  display: ruby;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #b29c6e;
  background-color: white;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 0;
  border-radius: 99px;
  -webkit-box-shadow: 0px 7px 50px 0px rgba(84, 110, 122, 0.1);
  -moz-box-shadow: 0px 7px 50px 0px rgba(84, 110, 122, 0.1);
  box-shadow: 0px 7px 50px 0px rgba(38, 50, 56, 0.1);
  margin: 0;
}



.product-name {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}

.add-to-cart-icon {
  position: absolute;
  top: 65px;
  right: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.swiper-wrappe:hover .add-to-cart-icon {
  opacity: 2;
}


/* ================================model======================================= */

.model form .button_order:hover {
  display: block;
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #b29c6e;
  background-color: #fff;
  border: 1px solid #b29c6e;
  font-weight: 500;
  font-size: 18px;
}

form>.button_order {
  display: block;
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: #b29c6e;
  border: 1px solid #b29c6e;
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
}




form .custom-input {
  border: 1px solid #b29c6e;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

form .custom-input:hover {
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
 color: #b29c6e;
}

form .custom-input:focus {
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
  border: 2px solid #b29c6e;
}