

.product-details {
  display: flex;
  padding: 20px;
  background-color: #fff;
}

.product-details .container {
  max-width: 1200px;
  margin: auto;
}

.product-detail-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 60px !important;
  margin-top: 30px !important;
}

.product-image-section {
  flex: 1;
  margin-right: 20px;
}

.image-slider-container {
  position: relative;
  display: flex;
}

.thumbnail-slider {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.thumbnail {
  margin-bottom: 10px;
}

.product-image-slider {
  flex: 1;
}

.product-info-section {
  flex: 1;
  max-width: 600px;
}

.product-name {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.2;
}

.product-rating {
  font-size: 18px;
  margin-bottom: 20px;
}

.title_quantity {
  font-weight: 500;
}

.flex_item {
  display: flex;
  justify-content: space-between;
}


.flex_item .product-price {
  font-weight: 700;
  color: red;
  padding-left: 10px;
  font-size: 21px;
}

.quantity_controls {
  margin-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.quantity-wrapper {
  display: flex;
  align-items: center;

  margin-left: 10px;
}

.quantity_increase_decrease {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_quantity {
  width: 40px;
  height: 20px;
}


.in_number {
  align-items: center;
  background: transparent;
  border: 0;
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 2px;
  color: rgba(0, 0, 0, .8);
  cursor: pointer;
  display: flex;
  font-size: .875rem;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1;
  outline: none;
  transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
  width: 100px;
}

.ssda {
  -webkit-appearance: none;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  box-sizing: border-box;
  cursor: text;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, .09);
  font-weight: 400;
  height: 40px;
  text-align: center;
  width: 100px;
}

.action-buttons {
  margin-top: 30px;
  display: flex;
  gap: 6px;
}

.action_buttons_pay {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.online-payment-button:hover,
.installment-button:hover ,
.order-button:hover{
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #b29c6e;
  background-color: #fff;
  border: 1px solid #b29c6e;
  font-weight: 500;
  font-size: 18px;
}

.order-button {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #b29c6e;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.online-payment-button {
  margin-right: 10px;
}

.online-payment-button,
.installment-button {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  background: #312e2e;
  color: white;
}



/* ======================== */
.commitments {

  background: #b29c6e1f;
}

.title_support {
  padding-top: 29px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commitments1 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  padding: 25px 25px;
}

.commitment-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.commitment-item img {
  margin-right: 10px;
}

/* ===================================== thông số sản phẩm ==============================*/
.liist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggleExpand-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-button,
.toggle-button {
  background-color: #b29c6e00;
  color: #b88f26;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}


/* thiết lập border khi hover */
.liist>.button_scrollToProductInfo>ul>li>button {
  position: relative;
}

.liist>.button_scrollToProductInfo>ul>li>button::before {
  content: "";
  height: 4px;
  width: 0%;
  background: #b88f26;
  position: absolute;
  bottom: 0px;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  left: 0px;
}

.liist>.button_scrollToProductInfo>ul>li:hover>button::before {
  width: 100%;
}


.liist>.button_scrollToProductInfo>ul {
  display: flex;
  list-style: none;
}


.liist>.button_scrollToProductInfo>ul>li {
  display: flex;
}

/* ============================ giới thiệu sản phẩm =================================== */
.introduction-section {
  background-color: #b29c6e1f;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.introduction-content.collapsed {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.introduction-content.expanded {
  max-height: none;
}

/* ===================BẢNG THÔNG SỐ====================== */
.product-details .container .bg-gray {
  margin-top: 80px;
  background: #b29c6e1f;
}

.m-product-specification {
  padding: 80px 106px;
}

.m-product-specification__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: -24px;
}

.m-product-specification__name_full,
.introduction-section>h2 {

  width: 100%;
  text-align: center;
  padding: 35px 25px 25px 25px;
  font-size: 30px;
  letter-spacing: 10px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #191919;
}

.m-product-specification__item {
  font-size: 14px;
  letter-spacing: .4px;
  line-height: 20px;
  width: 45%;
  padding-top: 24px;
  display: flex;
  flex-flow: row nowrap;
  color: #191919;
  border-bottom: 1px solid #a6a3a3;
}

.m-product-specification__label {
  font-size: 14px;
  letter-spacing: .4px;
  line-height: 20px;
  font-weight: 700;
  color: #191919;
  width: 128px;
  padding-right: 8px;
  padding-bottom: 8px;
  flex-shrink: 0;
}

.m-product-specification__name {
  padding-bottom: 8px;
}

/* ================= tăng giảm ================= */
.button_quantity {

  align-items: center;
  background: transparent;
  border: 0;
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 2px;
  color: rgba(0, 0, 0, .8);
  cursor: pointer;
  display: flex;
  font-size: .875rem;
  font-weight: 300;
  height: 20px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1;
  outline: none;
  transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
  width: 40px;
}

.checkout_button {
  background-color: #b29c6e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

/* ==================================== */
/* ============================================ đánh giá ============================================================ */

.reviews-section {

  margin-top: 80px;
  margin-bottom: 80px;
}

.submit_button{
  width: 100%;
  padding: 10px;
  background-color: #b29c6e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}

.submit_button:hover {
  background-color: #ffffff;
  color: #b29c6e;
  border: 1px solid #b29c6e;
  font-weight: 500;
}

.comment_title {
  font-size: 30px;
  letter-spacing: 10px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #191919;
  text-align: center !important;
}

.comment-box,
.introduction-section {
  padding: 80px 106px;
  box-sizing: border-box;
}




.comment-content {
  margin-top: 20px;
  margin-bottom: 10px;
}

.comment-rating {
  font-size: 41px;
}

.comment-form>input,
textarea {
  border: 1px solid #dee2e6;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-control {
  border: 2px solid #dee2e6;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.comment-box>input:focus,.comment-box>
textarea:focus {
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
  color: #b29c6e;
}


.form-floating>label {

  position: absolute;
  top: -2px;
  left: 0;
  z-index: 2;
  height: 100%;
  padding: 1rem .75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 1rem .75rem;
  width: 100%;
}

.review-actions>button {
  margin-right: 20px;
}

.reply {
  margin-left: 36px;
}
/* ====================================== phản hồi ======================================*/
.reply-form{
  margin-top: 20px;
}
.reply-name,
.reply-phone{
  width: 49%;
}

.reply-name>input,.reply-phone>input{
  width: 100%;
}
.reply-profile>input
 {
  border: 1px solid #dee2e6;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;

}

.form-group{
  border: 2px solid #dee2e6;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.comment-form input:focus,.comment-form
textarea:focus {
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
}

.reply-content>textarea{
  width: 100%;
}
.button-reply{
  display: flex;
  justify-content: space-between;
}
.submit-reply-button,.cancel-reply-button{
  width: 49%;
  border-radius: 6px;
}
.cancel-reply-button{
  background: #a6a3a654;
  font-weight: 500;
}
.submit-reply-button {

  padding: 10px;
  background-color: #b29c6e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}
.submit-reply-button:hover,.cancel-reply-button:hover{
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
  background-color: #ffffff;
  color: #b29c6e;
  border: 1px solid #b29c6e;
  font-weight: 500;

}


/* ==================sản phẩm tương tự=================== */
.container-Similar-product{
  margin-top: 80px;
  margin-bottom: 80px;
}
.related-products>h2 {
  font-weight: 700;
  font-size: 1.8em;
  padding: 30px 0;
  margin-bottom: 0;
  text-align: center;

}

.related-products-list {
  display: flex;
}

/* ========================================= */
.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;

}

.carousel-wrapper {
  display: flex;
}

.product-details .carousel-item {
  min-width: 25%;
  /* Hiển thị 4 sản phẩm cùng lúc */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;

}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 0;
}

.carousel-button.next {
  right: 0;
}

/* ================================model======================================= */

form .button_order:hover {
  display: block;
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #b29c6e;
  background-color: #fff;
  border: 1px solid #b29c6e;
  font-weight: 500;
  font-size: 18px;
}

form .button_order {
  display: block;
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: #b29c6e;
  border: 1px solid #b29c6e;
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
}




.custom-input {
  border: 1px solid #b29c6e;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.custom-input:hover {
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
}

.custom-input:focus {
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
  border: 2px solid #b29c6e;
}

/** ===================== LOGO THUONG HIỆU & MENU =====================*/

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.brand-menu {
  width: 100%;
  text-align: right;
  padding-bottom: 0;
  display: block;
}

.container-menu>.brand-menu>ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  float: right;
}

.container-menu>.brand-menu>ul>li {
  display: inline-block;
  text-transform: capitalize;
  padding: 0 18px;
  letter-spacing: 1px;
}

.container-menu>.brand-menu>ul>li>a {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  padding: 0;
}

.container-menu>.brand-menu>ul>li>a:hover {
  color: #b29c6e;
}
