.custom-slider-container {
  overflow: hidden;
  position: relative;
  /* Relative positioning for container */
  width: 1200px;
}

.custom-slider-container .left-content {
  flex: 1;
  /* Take up the full height and dynamic width */
  background: url('https://cdn.luxshopping.vn/Thumnails/Uploads/Images/example-secondary-image.jpg') no-repeat center center;
  background-size: cover;
  /* Cover the entire div */
  position: relative;
  /* Position absolutely to overlap */
  width: 100%;
  /* Full width to allow overlap */
  height: 100%;
  /* Full height of the container */

  max-width: 410px;
}

.custom-slider-container .main-slider {
  overflow: hidden;
  position: absolute;
  /* Absolute position for the slider */
  right: 0;
  /* Align to the right side */
  width: 65%;
  /* Slider takes up 75% of the container width */
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  z-index: 10;
  /* Ensure slider is above the image */

  margin-top: 13px;
}

.custom-slider-container .swiper-slide img {
  width: 100%;
  height: auto;
  max-height: 332px;  /* Giới hạn chiều cao tối đa */
  object-fit: cover;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.products_blocks_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Đảm bảo có khoảng cách giữa các ô sản phẩm */
  flex-wrap: wrap; /* Cho phép các ô sản phẩm xuống dòng khi hết không gian */
}

/* =========================================================== sản phẩm ============================ */
.kombinere-produkter {
  position: relative;
  width: calc(33.33% - 20px); /* Chiều rộng của mỗi ô sản phẩm, chia thành 3 cột */
  height: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px; /* Khoảng cách dưới mỗi sản phẩm */
}


.custom-slider-container .product-list {

  gap: 6px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;



}

.custom-slider-container .swiper-wrapper .swiper-slide {
  width: 285px; /* Đảm bảo kích thước ổn định */
  margin-right: 16px;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.custom-slider-container .swiper-wrappe .product-box {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #ccb494fa;
  box-sizing: border-box;
}

.custom-slider-container .swiper-wrappe .plain {
  mix-blend-mode: multiply;
  transition: transform .2s;
  color: currentColor;
  -webkit-transition: color .3s, opacity .3s, -webkit-transform .3s;
  transition: color .3s, opacity .3s, -webkit-transform .3s;
  -o-transition: color .3s, opacity .3s, transform .3s;
  transition: color .3s, opacity .3s, transform .3s;
  transition: color .3s, opacity .3s, transform .3s, -webkit-transform .3s;
  color: currentColor;
}

.custom-slider-container .product-item {
  padding: 30px 20px 20px;
}



.custom-slider-container .product-item img {
  width: 100%;  /* Đảm bảo hình ảnh luôn chiếm 100% chiều rộng */
  height: auto;
  object-fit: cover;
  max-height: 332px;  /* Giới hạn chiều cao */
  transition: transform 0.3s, box-shadow 0.3s;
}


.custom-slider-container .product-box .product-info {
  padding: 20px;
}

.custom-slider-container .plain:hover img {
  transform: scale(1.05);
  /* Slight zoom effect */
  /* pointer-events: none; */
  /* Vô hiệu hóa hover của thẻ con khi thẻ cha được hover */
}

.custom-slider-container .product-info .product-title,
.custom-slider-container .product-info .product-sku {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 23px;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: 'SVN-Humanst 521 BT', Arial, sans-serif;
}


.custom-slider-container .product-list {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.custom-slider-container .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;  /* Khoảng cách giữa các ô sản phẩm */
}

/* Đảm bảo rằng khi hover vào sản phẩm, hình ảnh sẽ zoom nhẹ */
.custom-slider-container .plain:hover img {
  transform: scale(1.05);
}


.custom-slider-container .product-info .product-price,
.product-name {
  font-size: 1.1rem;
  color: #df5454;
  margin: 0.5rem 0;
  font-weight: 700;
}

.custom-slider-container .line-through {
  text-decoration: line-through;
  color: gray;
}

.custom-slider-container .product-discount-price {
  font-weight: bold;
  color: #a60101;
}


.custom-slider-container .swiper-android>.swiper-slide,
.custom-slider-container .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  display: flex;
}

/* ========================================================================================================================== */
.button-brand {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.button-brand button {
  background-color: #f5e9dc;
  width: 78px;
  height: 36px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease; /* Thêm hiệu ứng mượt mà cho tất cả các thay đổi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Thêm bóng nhẹ */
}

.button-brand button:hover {
  background-color: #fff7e5; /* Thêm hiệu ứng khi hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đậm hơn khi hover */
}

.button-brand button.active-button {
  background: #ffffff;
  border: 3px solid #b29c6e; /* Màu sắc của đường viền khi active */
  color: #b29c6e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Bóng nhẹ khi active */
}

.button-brand button.active-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Bóng đậm hơn khi hover và active */
}
