.news-grid {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.news-grid h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.news-grid h2:after,
.news-grid h2:before {
  content: ' ';
  width: 70px;
  height: 1px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #000;
}

.news {
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); 
}

.news-card {
  background-color: #bcbab636;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  transition: transform .3s;
  border: 1px solid rgba(0, 0, 0, 0.1); 
 
}


.news-img {
  width: 100%;
  height: 200px; /* Đảm bảo chiều cao của hình ảnh cố định */
  overflow: hidden; /* Ẩn phần hình ảnh thừa */
}

.news-img img {
  width: 100%;
  height: 100%; /* Đảm bảo hình ảnh chiếm đầy khung */
  object-fit: cover; /* Cắt xén hình ảnh để nó không bị bóp méo */
  transition: transform 0.3s, box-shadow 0.3s;
}

.news-card:hover img {
  transform: scale(1.05);
}

.news-content {
  padding: 20px;
}

.news-content-title {
  font-size: 1.1rem;
  color: #666;
  margin: 0.5rem 0;
  font-weight: 700;
}

.news-content-time {
  display: flex;
  gap: 10px;
  color: #000;
}

.load-more-btn {
  background-color: #28ef7f;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  font-size: 16px;
}

.load-more-btn:hover {
  background-color: #0cc336;
}
