
  /* ======================================================================== */
  .slider-brand {
    text-align: center;
    margin-top: 20px;
  }
  
  .slider-title {
    font-size: 24px;
    position: relative;
    display: inline-block;
    padding: 0 20px;
  }
  
  .slider-title::before,
  .slider-title::after {
    content: "";
    top: 50%;
    width: 100px; /* Length of the decorative line */
    height: 2px;
    background-color: #000;
  }
  
  .slider-title::before {
    right: 100%;
    margin-right: 15px;
  }
  
  .slider-title::after {
    left: 100%;
    margin-left: 15px;
  }
  
  .logo-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-swiper img {
    max-width: 100%;
    height: auto;
  }
  /* ===================================================================== */
  
/* ================================================ silde thương hiệu ======================================= */

.slider-brand {
    padding: 60px 0;
  }
  

 
  
  .uppercase {
    text-transform: uppercase;
  }
  
  /* ===================================== title ======================================= */
  .slider-brand .fix-title h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #403f3f;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    font-size: 36px;
  }
  
 .slider-brand .fix-title h2:before,
 .slider-brand .fix-title h2:after {
    content: ' ';
    width: 70px;
    height: 1px;
    display: inline-block;
    vertical-align: bottom;
    background-color:#000;
  }
  
  .slider-brand  .fix-title h2:before {
    margin-right: 10px;
  }
  
  
  
  
  /* ================================================================================ */
  .slider-brand .swiper-inline {
    overflow-x: hidden;

  }
  
  .slider-brand .logo-brand {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .swiper-horizontal {
    touch-action: pan-y;
  }
  
  .swiper-android>.swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
  
  .slider-brand .swiper-wrapper {
    position: relative;
    /* width: 100%; */
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
  }
  
  .slider-brand>.swiper-slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
  }
  
  
  
  /* ====================================== thẻ a ==================================== */
  .slider-brand>.swiper-slide> .swiper-wrapper>  a {
    color: var(--primary-color);
    transition: all .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .slider-brand>.swiper-slide .swiper-wrapper  a {
    background-color: transparent;
  }
  
  .slider-brand>.swiper-slide .swiper-wrapper  a,
  input,
  .slider-brand>p,
  pre {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    padding: 0;
  }
  
  .swiper-slide .swiper-wrapper  a,
  .swiper-slide .swiper-wrapper  a:hover {
    text-decoration: none;
  }