.FeaturedProducts h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-top: 40px;
}



.FeaturedProducts h2:after {
  margin-left: 10px;
  content: ' ';
  width: 70px;
  height: 1px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #000;
}

.FeaturedProducts h2:before {
  margin-right: 10px;
  content: ' ';
  width: 70px;
  height: 1px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #000;
}





/* =========================================================== sản phẩm ============================ */
.FeaturedProducts .swiper-wrappe {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}


.FeaturedProducts .product-list {

  gap: 6px;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  /* 4-column layout */
}

.FeaturedProducts .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  /* height: 100%; */
  position: relative;
  transition-property: transform;
  display: block;
  width: 288px;
  margin-right: 4px;
  transition: transform 0.6s ease-in-out
}

.FeaturedProducts .product-box {
  position: relative;
  height: 100% !important;
  background-color: #bcbab636;
  border-radius: 6px;
}

.FeaturedProducts .plain {
  mix-blend-mode: multiply;
  transition: transform .2s;
  color: currentColor;
  -webkit-transition: color .3s, opacity .3s, -webkit-transform .3s;
  transition: color .3s, opacity .3s, -webkit-transform .3s;
  -o-transition: color .3s, opacity .3s, transform .3s;
  transition: color .3s, opacity .3s, transform .3s;
  transition: color .3s, opacity .3s, transform .3s, -webkit-transform .3s;
  color: currentColor;
}

.FeaturedProducts .product-item {
  padding: 30px 20px 20px;
}



.FeaturedProducts .product-item img {
  width: 272px;
  height: auto;
  display: block;
  object-fit: cover;
  height: 332px;
  padding: 30px 20px 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}


.FeaturedProducts .product-box .product-info {
  padding: 20px;
}

.FeaturedProducts .plain:hover img {
  transform: scale(1.05);
  /* Slight zoom effect */
  /* pointer-events: none; */
  /* Vô hiệu hóa hover của thẻ con khi thẻ cha được hover */
}




.FeaturedProducts .product-list .bg-gray {
  width: 100%;
  height: 100%;
}


.FeaturedProducts .product-list {
  padding: 20px;
}

.FeaturedProducts .product-price,
.product-title,
.product-discount-price {
  font-size: 1.1rem;
  color: #666;
  margin: 0.5rem 0;
  font-weight: 700;
}

.FeaturedProducts .line-through {
  text-decoration: line-through;
  color: gray;
}

.FeaturedProducts .product-price .product-discount-price {
  font-weight: bold;
  color: #a60101;
}

/* ===================================================================================================== */


.FeaturedProducts .swiper-android>.swiper-slide,
.FeaturedProducts .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  display: flex;
}

.FeaturedProducts {
  /* overflow: hidden;
  position: relative; */
  /* Relative positioning for container */
  width: 1200px;
}


.FeaturedProducts .main-slider {
  overflow: hidden;

  right: 0;
  /* Align to the right side */
  width: 100%;
  /* Slider takes up 75% of the container width */
  height: 100%;
  /* Slider takes the full height of the container */
  z-index: 10;
  /* Ensure slider is above the image */

  margin-top: 40px;
}

.FeaturedProducts .swiper-slide img {
  padding: 30px 20px 20px;
  width: 100%;
  /* Ensure images in slider take full width of the slide */
  height: auto;
  /* Maintain aspect ratio */
}

.FeaturedProducts .products_blocks_wrapper {
  display: flex;
  justify-content: space-between;
}

/* ================================model======================================= */

.FeaturedProducts .model form .button_order:hover {
  display: block;
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #b29c6e;
  background-color: #fff;
  border: 1px solid #b29c6e;
  font-weight: 500;
  font-size: 18px;
}

.FeaturedProducts .button_order {
  display: block;
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: #b29c6e;
  border: 1px solid #b29c6e;
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
}

.FeaturedProducts form .custom-input {
  border: 1px solid #b29c6e;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.FeaturedProducts form .custom-input:hover {
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
  color: #b29c6e;
}

.FeaturedProducts form .custom-input:focus {
  border-color: #b29c6e;
  box-shadow: 0 0 8px rgba(178, 156, 110, 0.5);
  border: 2px solid #b29c6e;
}