.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .mySlides {
    display: none;
    position: relative;
    width: 100%;
  }
  
  .mySlides.active {
    display: block;
    animation: fade 5s ease-in-out;
  }
  
  .slide-image {
    width: 1800px;
    height: 536px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  @keyframes fade {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 4;
    }
  }
  